@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500&display=swap');
html {
    background: linear-gradient(to bottom right, rgb(204, 204, 204), rgb(136, 135, 135));
}

.App {
    margin-top: 2%;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

.rule {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    color: white;
    padding: 0 7%;
    margin: 3% 7% 7% 7%;
}

.h1-header {
    font-size: 32px;
    font-weight: 500;
    margin-bottom: 2%;
    margin-top: 0;
    color: #ffffff;
}

.h2-header {
    font-size: 24px;
    margin-top: 0;
    color: #f8f4e6;
}

#table {
    width: 70%;
    height: 600px;
    background: linear-gradient(to bottom right, rgb(84, 153, 111), rgb(38, 97, 60));
    border-radius: 10px;
    margin: auto;
}

.center-button {
    height: 100%;
    line-height: 600px;
}

/* 吹き出し */

.arrow_box_common {
    position: relative;
    background: #535353;
    padding: 0px;
    text-align: center;
    color: #ffffff;
    border-radius: 10px;
}

.arrow_box_common:after {
    border: solid transparent;
    content: "";
    height: 0;
    width: 0;
    pointer-events: none;
    position: absolute;
    border-color: rgba(0, 95, 158, 0);
    border-top-width: 10px;
    border-bottom-width: 10px;
    border-left-width: 10px;
    border-right-width: 10px;
    margin-left: -10px;
}

.arrow_box_player {
    font-size: 1em;
    width: 80px;
    height: 40px;
    line-height: 40px;
    margin: 0px auto 30px;
}

.arrow_box_player:after {
    bottom: 100%;
    left: 50%;
    border-bottom-color: #535353;
}

.arrow_box_dealer {
    font-size: 0.9em;
    width: 70px;
    height: 30px;
    line-height: 30px;
    margin: 30px auto 0px;
}

.arrow_box_dealer:after {
    top: 100%;
    left: 50%;
    border-top-color: #535353;
}

#footer {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    color: white;
    margin: 3%;
}

@media only screen and (max-width: 600px) {
    .rule {
        font-size: 13px;
        margin-bottom: 7%;
        padding: 0;
    }
    #table {
        width: 90vw;
    }
}